@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&family=Dancing+Script&display=swap');

#imageprincipale {
    padding-top: 60px;
    background: url(media/image-principale.JPG) no-repeat fixed 50% 50%;
    background-size: cover;
    height: 799px;
}

h1 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: antiquewhite;
    font-size: 6em;
    margin-top: 100px;
    text-shadow: 10px 11px 1px orange;
}

#Premiertrait {
    height: 1px;
    width: 25%;
    margin: -3px auto;
    background-color: #FFFAE1;
    text-shadow: 10px 11px 1px orange;
}

p {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: red;
    font-size: 2em;
    margin-top: 100px;
}

#message {
    background-color: rgba(255, 250, 225, .8);
}