@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&family=Dancing+Script&display=swap');
#imageprincipale {
  padding-top: 60px;
  background: url(media/image-principale.JPG) no-repeat fixed 50% 50%;
  background-size: cover;
  height: 799px;
}
h1 {
  font-family: 'Dancing Script', cursive;
  text-align: center;
  color: antiquewhite;
  font-size: 6em;
  margin-top: 100px;
  text-shadow: 10px 11px 1px orange;
}
#Premiertrait {
  height: 1px;
  width: 25%;
  margin: -3px auto;
  background-color: #FFFAE1;
  text-shadow: 10px 11px 1px orange;
}
button {
  border: none;
  width: 50%;
  padding: 15px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 25%;
  margin-right: 25%;
  font-size: 3em;
  font-family: 'Advent Pro', sans-serif;
  border-radius: 8px;
}
button {
  font-size: 3em;
  background-color: #FFFAE1;
}
button:hover {
  background-color: #e55039;
  color: #FFFAE1;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
li {
  list-style-type: none;
}